#
# Frequency-Shift Keying (FSK)
#

menuconfig FSK
	depends on NET
	tristate "FSK subsystem support"
	help
	  Frequency-Shift Keying (FSK) and variants

if FSK

source "drivers/net/fsk/Kconfig"

endif
